@import url(https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap);

* {
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    height: auto;
}

body {
    background-color: #1B1E3C;
    padding-left: 20px;
    padding-right: 10px;
    line-height: 1.6;
    font-family: "Ubuntu Mono";
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    height: auto;
}

pre { line-height: 125%; font-size: 10px; font-weight: 300; padding: 20px; text-wrap: wrap;}
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #4f424c }
.codehilite { border-radius: 20px; width: 80%; margin: auto; background-color: #171932;}
.codehilite .c { color: #776e71 }
.codehilite .err { color: #ef6155 }
.codehilite .k { color: #815ba4 }
.codehilite .l { color: #f99b15 }
.codehilite .n { color: #e7e9db }
.codehilite .o { color: #5bc4bf }
.codehilite .p { color: #e7e9db }
.codehilite .ch { color: #776e71 }
.codehilite .cm { color: #776e71 }
.codehilite .cp { color: #776e71 }
.codehilite .cpf { color: #776e71 }
.codehilite .c1 { color: #776e71 }
.codehilite .cs { color: #776e71 }
.codehilite .gd { color: #ef6155 }
.codehilite .ge { font-style: italic }
.codehilite .ges { font-weight: bold; font-style: italic }
.codehilite .gh { color: #e7e9db; font-weight: bold }
.codehilite .gi { color: #48b685 }
.codehilite .gp { color: #776e71; font-weight: bold }
.codehilite .gs { font-weight: bold }
.codehilite .gu { color: #5bc4bf; font-weight: bold }
.codehilite .kc { color: #815ba4 }
.codehilite .kd { color: #815ba4 }
.codehilite .kn { color: #5bc4bf }
.codehilite .kp { color: #815ba4 }
.codehilite .kr { color: #815ba4 }
.codehilite .kt { color: #fec418 }
.codehilite .ld { color: #48b685 }
.codehilite .m { color: #f99b15 }
.codehilite .s { color: #48b685 }
.codehilite .na { color: #06b6ef }
.codehilite .nb { color: #e7e9db }
.codehilite .nc { color: #fec418 }
.codehilite .no { color: #ef6155 }
.codehilite .nd { color: #5bc4bf }
.codehilite .ni { color: #e7e9db }
.codehilite .ne { color: #ef6155 }
.codehilite .nf { color: #06b6ef }
.codehilite .nl { color: #e7e9db }
.codehilite .nn { color: #fec418 }
.codehilite .nx { color: #06b6ef }
.codehilite .py { color: #e7e9db }
.codehilite .nt { color: #5bc4bf }
.codehilite .nv { color: #ef6155 }
.codehilite .ow { color: #5bc4bf }
.codehilite .pm { color: #e7e9db }
.codehilite .w { color: #e7e9db }
.codehilite .mb { color: #f99b15 }
.codehilite .mf { color: #f99b15 }
.codehilite .mh { color: #f99b15 }
.codehilite .mi { color: #f99b15 }
.codehilite .mo { color: #f99b15 }
.codehilite .sa { color: #48b685 }
.codehilite .sb { color: #48b685 }
.codehilite .sc { color: #e7e9db }
.codehilite .dl { color: #48b685 }
.codehilite .sd { color: #776e71 }
.codehilite .s2 { color: #48b685 }
.codehilite .se { color: #f99b15 }
.codehilite .sh { color: #48b685 }
.codehilite .si { color: #f99b15 }
.codehilite .sx { color: #48b685 }
.codehilite .sr { color: #48b685 }
.codehilite .s1 { color: #48b685 }
.codehilite .ss { color: #48b685 }
.codehilite .bp { color: #e7e9db }
.codehilite .fm { color: #06b6ef }
.codehilite .vc { color: #ef6155 }
.codehilite .vg { color: #ef6155 }
.codehilite .vi { color: #ef6155 }
.codehilite .vm { color: #ef6155 }
.codehilite .il { color: #f99b15 }
